body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-weight: 100, 200;
  font-style: normal;
}

.navbar{
  background:rgb(233, 230, 231);
  font-family: calbri;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 150px;
}

.logo {
  display: flex;
  background-color: aqua;
  border-radius: 20px;
  width: 200px;
  margin-top: 20px;
}

.logo a{
  background-color: rgb(61, 139, 61);
  font-size: 40px;
  font-weight: 200;
  padding-left: 20px;
  margin: 30px;
}


li{
  list-style: none;
  display: inline;
  padding: 20px;
}

i {
  font-size: large;
  background-color: blue;
}
